.temp-profile{
  height: 100%;
  padding: 30px;
  display: grid;
  gap: 30px;
  align-content: start;

  mat-divider{
    border-top-color:var(--green-light);
    border-top-width:2px
  }

  .card{
    padding: 20px;
    box-shadow: -3px 1px 11px 1px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    position: relative;
    .title{
      position: absolute;
      top: -10px;
      left: 10px;
      font-size: 14px;
      background-color: white;
      padding: 2px 5px;
      box-shadow: 1px -3px 6px 0px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }

    .body{
      padding: 10px;
      display: grid;
      gap: 15px;
    }

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
