<div class="temp-profile">
  <div class="grid gap-2">
    <h1 class="text-2xl font-semibold" >Datos del perfil</h1>
    <mat-divider />
  </div>

  <section>
    <div class="grid grid-cols-2 gap-3">
      <div class="card">
        <span class="title">Datos Principales</span>

        <div class="body">
          <div>
            <h4 class="text-xs font-semibold">Razon social</h4>
            <span class="text-sm" >CORPORACIÓN PYX S.A.C.</span>
          </div>

          <div>
            <h4 class="text-xs font-semibold">RUC</h4>
            <span class="text-sm" >20537901277</span>
          </div>
        </div>
      </div>

      <div class="card">
        <span class="title">Dirección</span>

        <div class="body">
          <div class="grid grid-cols-2 gap-3">
            <div>
              <h4 class="text-xs font-semibold">Distrito</h4>
              <span class="text-sm" >LOS OLIVOS</span>
            </div>

            <div>
              <h4 class="text-xs font-semibold">Provincia</h4>
              <span class="text-sm" >LIMA</span>
            </div>
          </div>

          <div>
            <h4 class="text-xs font-semibold">Direccion Legal</h4>
            <span class="text-sm" >AV. ANGÉLICA GAMARRA Nº 1361 - LOS OLIVOS</span>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="grid grid-cols-3 gap-3">

      <div class="card">
        <span class="title">Representante Legal</span>

        <div class="body">
          <div>
            <h4 class="text-xs font-semibold">Nombre</h4>
            <span class="text-sm" >GLORIA MERCEDES CHICCHON CACERES DE PAEZ</span>
          </div>

          <div>
            <h4 class="text-xs font-semibold">DNI</h4>
            <span class="text-sm" >10654095</span>
          </div>
        </div>
      </div>

      <div class="card">
        <span class="title">Gerente Legal</span>

        <div class="body">
          <div>
            <h4 class="text-xs font-semibold">Nombre</h4>
            <span class="text-sm" >GLORIA MERCEDES CHICCHON CACERES DE PAEZ</span>
          </div>

          <div>
            <h4 class="text-xs font-semibold">DNI</h4>
            <span class="text-sm" >10654095</span>
          </div>
        </div>
      </div>

      <div class="card">
        <span class="title">Supervisor</span>

        <div class="body">
          <div>
            <h4 class="text-xs font-semibold">Nombre</h4>
            <span class="text-sm" >GLORIA MERCEDES CHICCHON CACERES DE PAEZ</span>
          </div>

          <div>
            <h4 class="text-xs font-semibold">Correo Electrónico</h4>
            <span class="text-sm" > {{'gerencia@pyx.pe'}} </span>
          </div>

          <div>
            <h4 class="text-xs font-semibold">Celular</h4>
            <span class="text-sm" >956432721</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="card">
      <span class="title">
        Lista de sedes
      </span>

      <div class="body">
        <div class="grid gap-2">
          <h1 class="text-sm font-normal" >Sede Operativa</h1>
          <mat-divider />
        </div>
      </div>

    </div>
  </section>
</div>
