.temp-document{
  padding: 10px;
  display: grid;
  align-content: start;

  .document-list{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    gap: 20px;
  }

  .card{
    cursor: pointer;
    padding: 5px 30px !important;
    min-width: 250px;
    .body{
      display: grid;
      gap: 5px;

      justify-items: center;
    }
  }
}

::ng-deep{
  .mat-mdc-progress-spinner{
    width: 50px !important;
    height: 50px !important;
  }
  .mdc-circular-progress__indeterminate-circle-graphic{
    stroke: var(--green-light) !important;
  }
}
