.temp-user-manage{
  padding: 10px 50px;
  display: grid;
  align-content: start;
  gap: 20px;
  max-width: 900px;
  margin: auto;

  .card{
    .form-group{
      margin-bottom: 10px !important;
    }
  }

  .section{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
  }
}
::ng-deep{
  .mat-mdc-text-field-wrapper{
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
  }
  .mat-mdc-form-field-subscript-wrapper{
    height: 0px !important;
  }

  .mat-mdc-form-field-infix{
    padding-top: 5px !important;
    min-height: 0px !important;
  }

  .mat-mdc-text-field-wrapper{
    background-color: white !important;
    outline: 1px solid var(--gray);
  }

  .mat-mdc-form-field-flex{
    max-height: 50px !important;
  }
  .mat-mdc-form-field-focus-overlay{
    background-color: transparent !important;
  }
  .mdc-floating-label{
    display: none !important;
  }
}

