@import "font.scss";
@import "base.scss";

:root {
  --green: rgb(136, 171, 46);
  --green-light: #9dc140;
  --gray: #dde6e9;
  --dark-gray: #373A40;
  --light-gray: #EDEEF1;
  --black:#222;
  --red: #F86060;

}

.text-error {
  position: absolute;
  bottom: -18px;
  color: red;
  margin: 0 !important;
}

.text-red{
  color: var(--red) !important;
}

.form-group{
  position: relative;
  display: grid;
  align-items: center;
  margin-bottom: 25px;

  label{
    font-size: 14px;
    color: var(--dark-gray);
    font-weight: 500;
  }
}

.input {
  outline: none;
  background-color: white;
  border: none;
  padding: 7px 15px;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: 1.5px solid var(--gray);
}

.input-icon{
  position: absolute;
  color: var(--gray) !important;
  font-size: 18px;
  height: 18px !important;
  width: 18px !important;
}


.input-icon-left{
  .input{
    padding-left: 25px;
  }
  .input-icon{
    left: 3px;
  }
}

.input-icon-right{
  .input{
    padding-right: 25px;
  }
  .input-icon{
    right: 10px;
  }
}

.input-error{
  outline: 1.5px solid var(--red);
}

.content-title{
  display: grid;
  grid-template-columns: max-content auto;
}

.input-disabled{
  label, input{
    color: #c6cbcc;
  }
}

// * BUTTONS

.btn{
  background: none;
  border: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--green);
  padding: 6px 25px;
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 5px;

  &:focus-visible {
    outline: none;
  }

  &-green {
    @extend .btn;
    background-color: var(--green);
    color: white;
  }

  &-red{
    @extend .btn;
    background-color: var(--red);
    color: white;
  }

  &-icon{
    @extend .btn;
    display: grid;
    place-content: center;
    padding: 5px !important;
  }

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


// * CARD

.card{
  padding: 20px;
  box-shadow: -3px 1px 11px 1px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  position: relative;
  .title{
    position: absolute;
    top: -10px;
    left: 22px;
    font-size: 14px;
    background-color: white;
    padding: 2px 5px;
    box-shadow: 1px -3px 6px 0px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .body{
    padding: 10px;
    display: grid;
    gap: 15px;
  }

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.spinner{
  width: 20px !important;
  height: 20px !important;
  font-size: 20px !important;
}
