<div class="temp-menu">

  <div class="grid justify-center">
    <img srcset="/assets/images/logo.webp" width="80" alt="">
  </div>

  <div class="content-avatar">
    <div class="avatar">
      <img srcset="/assets/images/logo_pyx.png" alt="">
    </div>
    <span>CORPORACIÓN PYX S.A.C.</span>
  </div>

  <div class="menu">
    @for (item of menuList; track $index) {
      <button class="item" [routerLink]="item.url" routerLinkActive="select" [routerLinkActiveOptions]="{exact:item.extact}">
        <mat-icon> {{item.icon}} </mat-icon>
        {{item.title}}
      </button>
    }

    <!-- <button class="item" class="item" routerLink="/home/sedes" routerLinkActive="select"  >
      <mat-icon>folder</mat-icon>
      Documentos
    </button>
    <button class="item" routerLink="/home/activities" routerLinkActive="select">
      <mat-icon>auto_stories</mat-icon>
      Actividades Mensuales
    </button>

    <button class="item"  routerLink="/home/profile" routerLinkActive="select">
      <mat-icon>person</mat-icon>
      Datos de Perfil
    </button> -->

  </div>

  <div class="content-media">
    <button matTooltip="Facebook" (click)="goTo('https://www.facebook.com/Solugrifos')" >
      <img srcset="/assets/images/facebook_white.svg" alt="">
    </button>

    <button matTooltip="Instagram" (click)="goTo('https://www.instagram.com/solugrifosperu/')">
      <img srcset="/assets/images/instagram_white.svg" alt="">
    </button>

    <button matTooltip="Linkedin" (click)="goTo('https://www.linkedin.com/company/solugrifosperu/')">
      <img srcset="/assets/images/linkedin_white.svg" alt="">
    </button>
  </div>
</div>
