<div class="temp-login animate__animated animate__fadeIn ">
  <div class="main">
    <button id="btn_solugrifos">
      <img srcset="/assets/images/large-solugrifos.png" alt="">
    </button>

    <div class="card">
        <img srcset="/assets/images/logo.webp" class="justify-self-center" width="100" alt="">
        <h4 class="text-center">INICIAR SESIÓN</h4>

        <form formGroup="" >
          <div class="form-group">
            <input type="text" class="input" placeholder="usuario">
          </div>
          <div class="form-group">
            <input type="password" class="input" placeholder="contraseña">
          </div>

          <button type="button" class="btn-green justify-center !py-3 !w-full" routerLink="home">INGRESAR</button>
        </form>

        <h4 class="text-center">Visítanos en:</h4>

        <div class="flex justify-evenly">
          <button>
            <img srcset="/assets/images/facebook.svg" width="35" alt="">
          </button>

          <button>
            <img srcset="/assets/images/instagram.svg" width="35"  alt="">
          </button>

          <button>
            <img srcset="/assets/images/linkedin.svg" width="35"  alt="">
          </button>
        </div>

        <p class="text-center"> © 2021 - 2024 - v1.0 </p>
    </div>

  </div>

  <footer>
    <button matTooltip="PRIMAX"  ><img srcset="/assets/images/logo_primax.png" alt=""></button>
    <button matTooltip="TERPEL"><img srcset="/assets/images/logo_terpel.png" alt=""></button>
    <button matTooltip="LLAMAGAS"><img srcset="/assets/images/logo_llamagas.png" alt=""></button>
    <button matTooltip="PETROAMERICA"><img srcset="/assets/images/logo_petroamerica.png" alt=""></button>
    <button matTooltip="PYX"><img srcset="/assets/images/logo_pyx.png" alt=""></button>
    <button matTooltip="PETROSUR"><img srcset="/assets/images/logo_petrosur.png" alt=""></button>
  </footer>
</div>
